*.lo
*.o
.*
Makefile
build
config.log
config.status
curl-config
docs/curl.1
lib/curl_config.h
lib/libcurl.la
lib/libcurl.vers
lib/stamp-h1
libcurl.pc
libtool
src/curl
src/tool_hugehelp.c
tests/configurehelp.pm

